$mainFont: 'Roboto';


:root{
    --green:#43B02A;
    --green-2:#3B9C25;
    --light-green:#EEF7EB;
    --ligth-green-2:#D9EFD4;
    --light-yellow:#FEFACF;

    --gray:#888;
    --gray-2:#F3F3F3;
    --gray-3:#757575;
    --gray-4:#CCC;
    --gray-5:#F2F2F2;
    --gray-6:#D9D9D9;

    --dark:#111;

    --red:#FF6262;

    --orange:#F96D15;

    --white:#fff;
    --black:#000;
}