@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.eot) format('eot'),
        url(../font/Roboto-Regular.otf) format('otf'),
        url(../font/Roboto-Regular.ttf) format('ttf'),
        url(../font/Roboto-Regular.woff) format('woff'),
        url(../font/Roboto-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium.eot) format('eot'),
        url(../font/Roboto-Medium.otf) format('otf'),
        url(../font/Roboto-Medium.ttf) format('ttf'),
        url(../font/Roboto-Medium.woff) format('woff'),
        url(../font/Roboto-Medium.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Bold.eot) format('eot'),
        url(../font/Roboto-Bold.otf) format('otf'),
        url(../font/Roboto-Bold.ttf) format('ttf'),
        url(../font/Roboto-Bold.woff) format('woff'),
        url(../font/Roboto-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}